pre, div.note {
	font-family: "Trebuchet MS",Tahoma,Arial;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #000;
	background-color: #999;
	padding: 5px;
	display: block;
	overflow: auto;
}
/*code {
	background-color: #999;
}*/
div.comment-container {
	border: 1px solid #920000;
}
td.code {
	font-family: "Trebuchet MS",Tahoma,Arial;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #000;
	background-color: #999;
	padding: 5px;
}
body {
	font-family: Arial,Tahoma,"Trebuchet MS";
	font-size: 20px;
	background-color: #c0c0c0;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	border: 1px solid black;
	word-wrap: break-word;
}
th {
	background-color: #99CCFF;
}