body {
  white-space: pre;
  font-family: "Trebuchet MS",Tahoma,Arial,monospace;
  /*background-color: #d0d0d0;*/
  background-color: black;
  color: #808080;
}

.property {
  font-weight: bold;
}

.type-null {
  color: #920000;
}

.type-boolean {
  color: #AE7725;
}

.type-number {
  color: #8080FF;
}

.type-string {
  color: #008000;
}

.callback-function {
  color: #408080;
}

.collapser:after {
  content: "--";
  font-weight: bold;
}

.collapsed > .collapser:after {
  content: "+";
  font-weight: bold;
}

.ellipsis:after {
  content: " … ";
  font-weight: bold;
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: #222;  
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}