[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[alias]
    f = fetch
    g = gui
    c = commit -m
	co = checkout
	dt = difftool
	mt = mergetool
	rebim = rebase -i origin/master
	po = push origin 
	pufo = push -f origin
	putrak = push -u origin 
	rhard = reset --hard 
	praise = blame
	ff = merge --ff-only
	merc = merge --no-ff
	st = status
	stt = status --short --branch
	sync = !git pull && git push
	unstage = reset HEAD --
	last = log -1 HEAD
	graf = log --oneline --decorate --graph --all
	br = branch -v
	brall = branch -avv
	brv = branch -vv
	brd = branch -d
	brdd = branch -D
	brdo = push origin --delete 
	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m “root” --allow-empty
	shind = stash --keep-index
	shunt = stash --include-untracked
	shall = stash --all
	grog = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %Cred%d%Creset %s  %Cgreen(%ar)%Creset %C(bold dim yellow)<%an>%C(reset) - %C(bold dim green)[%ai]%C(reset)'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[user]
	name = test
	email = test@gmail.com

[gui]
	fontui = -family Arial -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8

[credential]
	helper = wincred

[core]
	autocrlf = true
	editor = vim
	
[merge]
	tool = BeyondCompare4
[mergetool "BeyondCompare4"]
	path = c:/Progs/BeyondCompare4/BCompare.exe
[push]
	default = nothing
